<main>
<div class="koukoku">
    <%= link_to image_tag('img/advertisement.png'), "https://manabi.univcoop.or.jp/drive/gassyuku/sch.php" %>
</div>

    <ul class="BuyingSelling">
        <%= link_to '教科書を売る', new_text_path, class: "float3 botton" %>
        <%= link_to '教科書を買う', faculty_texts_path, class: "float3 botton" %>
    </ul>
</main>
