.upper{
    display: flex;
    height: 55px;
}

.homeicon img{
    width: 50px;
    height: 50px;

}

.namae{
    padding: 15px;
}

.center{
   text-align: center;
}

.upload img{
width: 200px;
}

.under{
    margin-left: 2px;
}

.bunnsyou{
 font-size: 15px;
}

.heart img{
width: 40px;
}