<main>
  <div class="koukoku">広告</div>

  Twitter風


  <ul class="tweet">
    <%= link_to new_post_path do %>
      <%= image_tag 'img/tweet.png' , alt: 'tweet' , class: 'tweet' %>
        <% end %>
  </ul>
</main>
